@model IEnumerable<Order>

@{
    ViewBag.Title = "Личный кабинет. ";
}
<div>
    @if (User.Identity.Name == "test@shop.ru")
    {
        <a href="~/Admin/Order">Перейти в админку</a>
    }
    else
    {
        <!-- SECTION -->
        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="order-details">
                <div class="section-title text-center">
                    <h2 class="title">Мои заказы</h2>
                </div>
                <div class="order-summary">
                    <div class="order-products">
                        @foreach (var item in Model)
                        {
                            <div class="row mb-2">
                                <div class="col-sm-3">
                                    <div class="mb-1"><strong>Id: </strong>@item.Id</div>
                                    <div class="mb-1"><strong>Дата: </strong>@item.Date</div>
                                    <div class="mb-1"><strong>Статус: </strong>@item.State</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Товар</th>
                                                    <th>Кол-во</th>
                                                </tr>
                                            </thead>
                                            @foreach (var product in @item.OrderItems)
                                            {
                                                <tr>
                                                    <td>@product.Product.Name</td>
                                                    <td>@product.Count</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>